body{
    background-color: #232533;
}
.clear{
    margin: 0 !important;
    padding: 0 !important;
}

.ownImage{
    border-style: solid;  
    border-color: #0f1401; 
    /* width: 90%;  */
    /* height: 500px; */
}

.icon_skills{
    /* transform: scale(1.05); */
    transition: all .4s;
    transition-timing-function: ease-in-out;
}
.icon_skills:hover{
    /* background-color: yellow !important; */
    /* margin-top: 2px; */
    /* transform: translate(0,-5px); */
    transform: scale(1.1);
    transition: all .4s;
    transition-timing-function: ease-in-out;
    /* transition-delay: .4s; */
    /* width: 100%; */
    /* height: 100%; */
}

.tes12::after{
    /* position: relative; */
    content: 'Certificated';
    color: rgb(255, 255, 255);
    /* width: 1000px; */
    /* height: 1000px; */
    /* background-color: red; */
    top: 30%;
    /* left: 5%; */
    visibility: visible;
    transition: all .2s;
}
.tes12:hover::after{
    visibility: visible;
    transform: rotate(-10deg);
}

.nav-item:hover .bi-grid{
    color: #ffc107 !important;
    /* background-color: yellow; */
    /* #0d6efd
    #dc3545 */
}
.nav-item:hover .bi-award{
    color: #0d6efd !important;
}
.nav-item:hover .bi-lightbulb{
    color: #dc3545 !important;
}

.card-body{
    height: 200px;
}

.card{
    /* width: 350px; */
    transition: all .4s;
    transition-timing-function: ease-in-out;   
    /* cursor: pointer; */
}

.card:hover{
    transform: scale(1.1);
    transition: all .4s;
    transition-timing-function: ease-in-out;
}
/* 
.card::after{
    position: absolute;
    content: 'Click for Details';
    color: rgb(237, 0, 0);

    bottom: 10px;
    right: 10px;
    visibility: hidden;
    transition: all .2s;
}
.card:hover::after{
    visibility: visible;
    transform: rotate(0deg);
} */
